@import url('https://fonts.googleapis.com/css?family=Roboto');

// global scss styles

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }

  a {
    color: $primary;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }
  
  ul {
    list-style: none;
  }
  
  img {
    width: 100%;
  }