@media (max-width: 700px) {
    .hide-sm {
      display: none;
    }
  
    .grid-2,
    .grid-3,
    .grid-4 {
      grid-template-columns: 1fr;
    }
  
    /* Text Styles */
    .x-large {
      font-size: 3rem;
    }
  
    .large {
      font-size: 2rem;
    }
  
    .lead {
      font-size: 1rem;
    }
  
    /* Navbar */
    .navbar {
      display: block;
      text-align: center;
    }
  
    .navbar ul {
      text-align: center;
      justify-content: center;
    }
  }